    <div class="container">
      <div class="self-def" [ngClass]="isA4 ? 'content-a4' : 'content'">
      <h2>Self Definition</h2>
      <p>
        I've been close to the IT world since I was a kid,
        but I have been studying Web Development at
        higher levels for two years. I have acquired my
        knowledge by myself, mostly in English. The majority
        of my skills is related to front-end
        technologies, but I have also written smaller
        programs in Node.js, Java and Python. I am
        highly motivated to be part of larger projects in
        a work environment as a Junior Web Developer.
      </p>
    </div>

    <div class="strength" [ngClass]="isA4 ? 'content-a4' : 'content'">
      <h2>Strength</h2>
      <p>
        I like creating new, useful things. I am
        persistent, enthusiastic and try to do my job to the best of
        my ability. I prefer to work independently, but I
        also like working in a team. Most of my
        experience is related to the Angular framework.
        I am interested in all areas of IT and it is also my hobby.
      </p>
    </div>

    <div class="work-experience" [ngClass]="isA4 ? 'content-a4' : 'content'">
      <h2>Work Experience</h2>
      <ul>
        <li>
          <div class="first-line">
          Employee (2018-2021)
        </div>
        <div class="second-line">
          Construction work
        </div>
        <div class="desc">
          Participation in various interior design projects, including painting, furniture design, manufacturing,
          assembly, and other related tasks.
        </div>
      </li>
      <li>
        <div class="first-line">
          Contributor (2016-2017)
        </div>
        <div class="second-line">
          Mol Hungary - Record Office
        </div>
        <div class="desc">
          Digitization of drilling documents.
        </div>
      </li>
      <li>
        <div class="first-line">
          Intern (2016-2017)
        </div>
        <div class="second-line">
          Mol Hungary - H.S.E.
        </div>
        <div class="desc">
          Consolidation, formatting update, verification, and preparation for release of the identical subject area HSE
          regulations.
        </div>
      </li>
    </ul>
  </div>

  <div class="edu" [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>Educations</h2>
    <ul>
      <li>
        <div class="first-line">
          Career Starter Kit course (2022-2022)
        </div>
        <div class="second-line">
          Codecool
        </div>
      </li>
      <li>
        <div class="first-line">
          Environmental Engineering Bsc (2013-2017)
        </div>
        <div class="second-line">
          Budapest University of Technology and Economics
        </div>
        (Did not obtain a degree.)
        <li>
          <div class="first-line">
            Mathematics and IT (2006-2010)
          </div>
          <div class="second-line">
            Csokonai Vitéz Mihály High School, Debrecen
          </div>
        </li>
      </ul>
    </div>

    <div class="lang" [ngClass]="isA4 ? 'content-a4' : 'content'">
      <h2>Spoken Languages</h2>
      <ul [ngClass]="isA4 ? 'lang-list-a4' : 'lang-list'">
        <li><b>English</b> - Intermediate</li>
        <li><b>German</b> - Basic</li>
        <li><b>Hungarian</b> - Native</li>
      </ul>
    </div>

    <div class="hobbies" [ngClass]="isA4 ? 'content-a4' : 'content'">
      <h2>Hobbies</h2>
      <ul class="hobby-list">
        <li class="hobb-list">
          <img src="../../assets/football.png" alt="" class="hobb-img">
          <span>NFL</span>
        </li>
        <li class="hobb-list">
          <img src="../../assets/hiking.png" alt="" class="hobb-img">
          <span>Hiking</span>
        </li>
        <li class="hobb-list">
          <img src="../../assets/diy.png" alt="" class="hobb-img">
          <span>DIY</span>
        </li>
        <li class="hobb-list">
          <img src="../../assets/rpi_ardu.png" alt="" class="hobb-img">
          <span>R. Pi, Arduino</span>
        </li>
        <li class="hobb-list">
          <img src="../../assets/cycling.png" alt="" class="hobb-img">
          <span>Cycling</span>
      </li>
    </ul>
  </div>
</div>
