.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0 20px;
  margin: 12px 20px auto 20px;
  height: 99%;
  width: fit-content;
  flex-flow: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

p {
  margin: 6px 0 10px 0;
  text-align: justify;
  font-size: 14px;
}

li {
  padding: 4px 0;
}

h2 {
  margin: 6px 0 0 0;
  border-bottom: 3px solid #003366;
  width: fit-content;
  font-size: 20px;
}

.period {
  font-weight: 600;
  color: rgb(110, 110, 110);
}

.second-line {
  font-weight: 800;
  font-size: 16px;
}

.desc {
  text-align: justify;
  color: rgb(69, 69, 69);
  font-size: 12px;
  line-height: normal;
}

.lang-list {
  margin-top: 6px;
}

.lang-list-a4 {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hobb-img {
  margin: auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgb(102, 102, 102);
}

.hobby-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin: 6px auto 0 auto;
  width: 100%;
}

.hobb-list {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.hobb-list > span {
  margin-top: 6px;
  text-align: center;
  text-overflow: clip;
  width: 60px;
  font-size: 10px;
  line-height: 12px;
}

.content {
  width: 385px;
}

.content-a4 {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .content {
    width: auto;
    max-width: 385px;
    flex-flow: unset;
  }
}



@media screen and (min-width: 1272px) {
  .container {
    flex-flow: wrap;
  }
}


