<div class="container">
  <div [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.itSkills}}</h2>
    <p>{{aContent.itSkills.paragraphOne}}</p>
    <p>{{aContent.itSkills.paragraphTwo}}</p>
  </div>

  <div class="work-experience" [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.experience}}</h2>
    <ul>
      <li *ngFor="let exp of aContent.workExperience">
        <div class="first-line">{{exp.firstLine}}</div>
        <div class="second-line">{{exp.secondLine}}</div>
        <div class="desc">{{exp.desc}}</div>
      </li>
    </ul>
  </div>

  <div class="edu" [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.educations}}</h2>
    <ul>
      <li *ngFor=" let edu of aContent.educations">
        <div class="first-line">{{edu.firstLine}}</div>
        <div class="second-line">{{edu.secondLine}}</div>
        <div class="desc">{{edu.desc}}</div>
      </li>
    </ul>
  </div>

  <div [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.strengths}}</h2>
    <p>{{aContent.strengths}}</p>
  </div>

  <div [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.projects}}</h2>
    <p>{{aContent.projects.beforeTheATag}}<a [href]="aContent.projects.src">{{aContent.projects.src}}</a>{{aContent.projects.afterTheATag}}</p>
  </div>

  <div class="lang" [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.langs}}</h2>
    <ul [ngClass]="isA4 ? 'lang-list-a4' : 'lang-list'">
      <li *ngFor="let lang of aContent.languages">
        <b>{{lang.lang}}</b> - {{lang.level}}
      </li>
    </ul>
  </div>

  <div class="hobbies" [ngClass]="isA4 ? 'content-a4' : 'content'">
    <h2>{{aLanguage.hobbies}}</h2>
    <ul class="hobby-list">
      <li class="hobb-list" *ngFor="let hobby of aContent.hobbies">
        <img [src]="hobby.img" alt="" class="hobb-img">
        <span>{{hobby.name}}</span>
      </li>
    </ul>
  </div>
</div>