.cv-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.cv-container-basic {
  margin: 1px auto 12px auto;
  width: fit-content;
  max-width: 1255px;
}

.cv-container-a4 {
  width: 210mm;
  height: 297mm;
  flex-direction: row;
}

@page {
  size: A4;
  orientation: portrait;
  margin: 0;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@media print {
  @page {
    size: A4;
    orientation: portrait;
    margin: 0;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
