<div class="container" [ngClass]="{'container-width': !isA4}">
  <div class="personal">
    <h1>{{isEng ? 'David Pintye' : 'Pintye Dávid'}}</h1>
    <div class="img.container">
      <img
        src="/assets/profile_1.jpg"
        alt="profile-pic" class="profile-pic">
    </div>
    <div class="info-container">
      <ul>
        <li>
          <a href="mailto:davpintye@gmail.com">
            <mat-icon class="logo">email</mat-icon>
            <span>davpintye@gmail.com</span>
          </a>
        </li>
        <li>
          <a href="tel:+36308440030">
            <mat-icon class="logo">phone</mat-icon>
            <span>+36308440030</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/Davi-hub">
            <img src="assets/social/github-mark-white.svg" alt="" class="logo">
            <span class="links">https://github.com/Davi-hub</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/david-pintye/">
            <img src="assets/social/iconmonstr-linkedin-3.svg" alt="" class="logo">
            <span class="links">https://linkedin.com/in/david-pintye</span>
          </a>
        </li>
        <li>
          <a href="https://www.google.com/maps?q=1139+Budapest&hl=en&gl=us">
            <mat-icon class="logo">location_on</mat-icon>
            <span>1139 Budapest</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="visit" *ngIf="isPrintMode && isEng">
    Please, visit my webpage at
    <a href="https://davi-hub.github.io/pd">https://davi-hub.github.io/pd</a>
    where you can find important informations about my courses and projects with descriptions, deployed web apps and Github repos!
  </div>
  <div class="visit" *ngIf="isPrintMode && !isEng">
    Kérlek, látogass el a
    <a href="https://davi-hub.github.io/pd">https://davi-hub.github.io/pd</a>
    címre, ahol fontos információkat találsz a kurzusaimról és projekteimről, leírássokkal, működő web applikációkkal és Github repókkal!
  </div>
  <div class="skills">
    <h2>{{isEng ? 'Technologies' : 'Technológiák'}}:</h2>
    <div class="skill-container">
      <div class="skill-box" *ngFor="let skill of skills">
        <img [src]="skill.img" [alt]="skill.name">
        {{skill.name}}
        <div class="progress-container">
          <div class="progress" [ngStyle]="{'width': skill.level+'%'}"></div>
          <div class="remainder" [ngStyle]="{'width': 100-skill.level+'%'}"></div>
        </div>
      </div>
    </div>
  </div>
</div>