<div class="container" [ngClass]="{'container-print': isPrintMode}">
  <div class="personal">
    <h1>Pintye Dávid</h1>
    <div class="img.container">
          <img src="https://firebasestorage.googleapis.com/v0/b/cvmaker-16cd5.appspot.com/o/id_photo.jpg?alt=media&token=ba358c1e-008b-4d1e-b04c-e33490befc73" alt="profile-pic" class="profile-pic">
    </div>
    <div class="info-container">
      <ul>
        <li>
          <a href="mailto:davpintye@gmail.com">
            <mat-icon class="logo">email</mat-icon>
            <span>davpintye@gmail.com</span>
          </a>
        </li>
        <li>
          <a href="tel:+36308440030">
            <mat-icon class="logo">phone</mat-icon>
            <span>+36308440030</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/Davi-hub">
            <img src="assets/social/github-mark-white.svg" alt="" class="logo">
            <span class="links">https://github.com/Davi-hub</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/david-pintye/">
            <img src="assets/social/iconmonstr-linkedin-3.svg" alt="" class="logo">
            <span class="links">https://linkedin.com/in/david-pintye</span>
          </a>
        </li>
        <li>
          <a href="https://www.google.com/maps?q=1139+Budapest&hl=en&gl=us">
            <mat-icon class="logo">location_on</mat-icon>
            <span>1139 Budapest</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="skills">
    <h2>Skills</h2>
    <div class="skill-container">
      <div class="skill-box">
        <img src="assets/skills/angular-icon-1.svg" alt="angular">
        Angular
      </div>
      <div class="skill-box">
        <img src="assets/skills/html-1.svg" alt="html5">
        HTML5
      </div>
      <div class="skill-box">
        <img src="assets/skills/css-3.svg" alt="css">
        CSS
      </div>
      <div class="skill-box">
        <img src="assets/skills/logo-javascript.svg" alt="js">
        JavaScript
      </div>
      <div class="skill-box">
        <img src="assets/skills/typescript.svg" alt="ts">
        TypeScript
      </div>
      <div class="skill-box">
        <img src="assets/skills/nodejs-1.svg" alt="node">
        NodeJS
      </div>
      <div class="skill-box">
        <img src="assets/skills/firebase-1.svg" alt="fb">
        Firebase Auth & Db
      </div>
      <div class="skill-box">
        <img src="assets/skills/git-icon.svg" alt="git">
        Git
      </div>
      <div class="skill-box">
        <img src="assets/skills/javae.svg" alt="java">
        Java
      </div>
      <div class="skill-box">
        <img src="assets/skills/python-5.svg" alt="python">
        Python
      </div>
      <div class="skill-box">
        <img src="assets/skills/bootstrap-4.svg" alt="bootstrap">
        Bootstrap
      </div>
      <div class="skill-box">
        <img src="assets/skills/mongodb-icon-1.svg" alt="mongodb">
        MongoDB
      </div>
    </div>
  </div>
  <div class="visit" *ngIf="isPrintMode">
    <span>Please, visit my webpage:</span>
    <a href="https://davi-hub.github.io/pd">https://davi-hub.github.io/pd</a>
  </div>
</div>
