<div class="background">
  <div class="container">
    <div *ngFor="let project of projects" class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{project.imageUrl}}" alt="{{project.name}}">
        <div class="wrapper">
          <mat-card-content>
            <p>{{project.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="accent" href="{{project.detailsUrl}}" target="_blank">Webpage</a>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
